# 1. Ignore everything first
*

# 2. Allow folders so Git can look inside them
!*/

# 3. Allow all files with an extension (like .cpp, .h, .md)
!*.*

# 4. NOW, specifically block the files with following formats/directories
*.exe
*.dll
*.pdb
build/
bin/
obj/